# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# build artifacts
/build

# misc
.DS_Store
*.pem

# yarn
.yarn/
yarn-error.log
yarn.lock

package-lock.json

.next
.vercel
node_modules
certificates
prisma/generated